{{!-- Will need to update meta data in head and add any other technologies/libraries/scripts --}}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Songbirdie</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- Font Awesome CSS Icons (For cool glyphicons) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

    {{!-- CSS file --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <link href="/stylesheets/style.css" rel="stylesheet">
    
    {{!-- Script element sourcing TinyMCE --}}
    <script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
    
    {{!-- Initialize the editor --}}
    <script type="text/javascript">
    tinymce.init({
      selector:".tinymce",
      plugins: [
        "autoresize emoticons help image media preview print spellchecker"
      ],
      toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | " +
      "outdent indent | link image | preview print media | spellchecker | forecolor backcolor emoticons | help",
      menu: {
        SongBirdie: { title: "SongBirdie", items: "code visualised | searchreplace | emoticons"},
      },
      menubar: "SongBirdie file edit view insert format tools help"
    });
    </script>
  </head>

	<body>
		{{{ body }}}
	</body>
</html>
