<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create a Song</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link href="stylesheets/style.css" rel="stylesheet">
</head>
<body>
    <h1 id="createSong">Your about to create your own song!  Fill in the fields below to add this song to your SongBook</h1>
    <form>
        <label for="titlename">Title name:</label><br>
            <input type="text" id="title" name="titlename" placeholder="Title"><br>

        <label for="artistname">Artist name:</label><br>
            <input type="text" id="artist" name="artistname" placeholder="Artist"><br><br>

        <label for="temponame">Tempo:</label><br>
            <input type="text" id="tempo" name="temponame" placeholder="Tempo"><br>

        <label for="keyname">Key:</label><br>
            <input type="text" id="key" name="keyname" placeholder="Key"><br><br>

        <label for="chordsname">Chords:</label><br>
            <input type="text" id="chords" name="chordsname" placeholder="Key"><br><br>
        
        <label for="lyricsname">Lyrics:</label><br>
            <input type="text" id="lyrics" name="lyricsname" placeholder="Lyrics"><br><br>
    
            <input type="submit" value="Submit">
    </form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- <script type="text/javascript" src=""></script> -->
</body>
</html>