{{!-- Hero --}}
<div class="hero_box">
  <div class="hero_logo">
    {{!-- sign up form --}}
    <form class="signup">
      <div class="fields">
        {{!-- Email --}}
        <div class="form-group">
          <label class="text-blue" for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control input-size" id="email-input" placeholder="Email">
        </div>
        {{!-- Password --}}
        <div class="form-group">
          <label class="text-blue" for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control input-size" id="password-input" placeholder="Password">
        </div>
        {{!-- Alert Msg --}}
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>
        {{!-- Button/Link --}}
        <div class="btn-box">
          <button type="submit" class="button animate__animated animate__bounceIn">Sign Up</button>
          <p class="text-blue btn-link">Login <a class="text-blue" href="/login">here</a></p>
        </div>
      </div>
    </form>
  </div> {{!-- end hero_logo --}}
</div> {{!-- end hero_box --}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/signup.js"></script>