<!-- Modal box -->
<nav>

    <!-- Modal tab button -->
    <button id="songbirdie-tab" class="modal-tab">SongBirdie</button>

    <!-- The Modal -->
    <div id="songbirdie-modal" class="modal modal-inner-box text-center">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close modal-close">&times;</span>
            <div class="modal-view">
                <form class="form-inline">
                    <div class="link-box">
                        <a href="/members">SongBirdie</a>
                        <a href="/addSong">Add To Song Book</a>
                        <a href="/logout">Logout</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>