body {
  background-color: rgb(102, 84, 84);
}

form.signup,
form.login {
  margin-top: 50px;
}

#SBgif {
  width: 100%;
  height: 100%;
}

h2 {
  text-align: center;
}
#createSong {
  text-align: center;
}

/* Background hero for signin/login */
.hero_logo {
  height: 100vh;
  background-image: url(../images/SBWithJournal.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.input-size {
  /* width: 70vw; */
}

.text-color {
  color: rgb(59, 179, 248);
}