/* Mobile first styling */
body {
  width: 100vw;
  height: 100vh;
  background-color:rgb(41, 40, 40);
  font-family: 'Source Sans Pro', sans-serif;
}

.text-white {
  color: white;
  font-size: 2rem;
  text-shadow: 0px 0px 5px black;
}

.text-blue {
  color: rgb(139, 211, 245);
  font-size: 2rem;
  text-shadow: 0px 0px 5px black;
}

/* ---------------- Styling for all full pages ---------------- */

/* Full page styling */
.full-page {
  max-width: 1024px;
  width: 100vw;
  background-color: rgb(173, 226, 250);
  background-image: url(../images/h-paper-stock-white.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
  margin: 0 auto;
  box-shadow: 0 0 5px white;
}

/* Song page main section */
.form-main {
  padding: 2rem;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.808);
}

/* Container for add and update button */
.button-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* Add song button */
.buttons {
  width: 90px;
  height: 35px;
  color: white;
  background-color: rgba(78, 151, 211, 0.938) !important;
  border: solid 3px rgb(78, 151, 211);
  outline: none;
  border-radius: 10px;
  padding: 0;
  margin-top: -10rem;
}

/* ------------------- Sign up and Login content ------------------- */

/* Hero_box */
.hero_box {
  max-width: 1024px;
  height: 100vh;
  display: flex;
}

/* Hero songbirdie logo */
.hero_logo {
  max-width: 1024px;
  width: 100vw;
  background-image: url(../images/SBsmTxtWithJournal10sec.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 5px white;
}

/* Sign up */
.signup, .login {
  max-width: 1024px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
}

/* Sign up and login fields */
.fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-right: 7rem;
}

/* Input fields */
.input-size {
  width: 200px;
}

/* Sign up button container*/ 
.btn-box {
  display: inline-flex;
}

/* Add song button */
.landing-buttons {
  width: 90px;
  height: 35px;
  color: white;
  background-color: rgba(59, 179, 248, 0.884) !important;
  box-shadow: 0 0 15px rgba(41, 40, 40, 0.514);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0;
}

/* Sign up or login button animation */
.animate__animated.animate__bounceIn {
  --animate-delay: 5s;
  --animate-duration: 2s;
}

/* Sign up and login link */
.btn-link {
  padding-left: 2rem;
}

/* ------------------ Header styling on all pages ------------------ */

/* Header container for all pages */
.header-box {
  background-color: rgba(60, 185, 243, 0.808);
  margin: 0 auto;
}

/* Members header box */
.header-inner-box {
  height: 10vh;
  border-bottom: solid 1px grey;
  margin: 0 auto;
}

/* Members banner */
.header-banner {
  position: relative;
}

/* Banner text */
.banner-text {
  position: absolute;
  top: 2rem;
  left: 2rem;
  text-align: right;
  padding-right: 2rem;
}

/* Songbirdie logo on members */
#SBgif {
  position: absolute;
  border: solid 1px  rgb(80, 80, 80);
}

/* ------------------ Modal styling on all pages ------------------ */

/* modal-box */
.modal-box {
  display: flex;
  margin: 0 auto;
}

/* Modal button */
.modal-tab {
  color: rgba(23, 54, 95, 0.644);;
  font-size: 1.3rem;
  background: rgb(2,0,36);
  background: linear-gradient(65deg, rgb(187, 187, 240) 0%, rgb(144, 198, 223) 7%, rgba(0,224,255,0.5998774509803921) 100%);
  box-shadow: 0 0 15px rgba(41, 40, 40, 0.514);
  border: none;
  outline: none;
  border-radius: 0 0 10px 10px;
  padding: 0.5rem 1.5rem;
  margin-left: 1rem;
}

/* Modal inner box */
.modal-inner-box {
  max-width: 1024px;
  width: 100%;
  margin: auto;
}

/* Modal content box */
.modal-content {
  display: flex;
  justify-content: center;
  background-color: rgb(60, 185, 243);
}

/* modal close button x */
.modal-close {
  max-width: 1024px;
  color: rgb(98, 3, 187) !important;
  font-size: 2.5rem;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}

/* modal window view */
.modal-view {
  background-color: transparent !important;
  padding: 1rem;
}

/* Form for modal search and links */
.form-line {
  display: flex;
  justify-content: center;
}

#search-btn {
  border: none;
  outline: none;
  border-radius: 10px;
  background: transparent;
}

#search-btn-img {
  margin-bottom: -0.5rem;
}

/* Delete button in edit modal */
#delete-btn {
  color: rgb(98, 3, 187);
  background-color: transparent;
  border: none;
  outline: none;
}

/* box for <a> links */
.link-box {
  padding-top: 1rem;
}

/* modal links */
.modal-view a {
  color: rgb(98, 3, 187) !important;
  padding: 1rem;
}

/* --------------------- Members page body --------------------- */

/* Container holding h1 title and dynamic 
song title/artist on members page */
.members-main {
  text-align: center;
  height: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.808);
}

/* title for members page <h1> */
.members-title {
  font-size: 5rem;
  color: rgba(41, 41, 41, 0.842);
}

/* -------------- Members page dynamic song list -------------- */

/* List of songs */
.song-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

/* Container for each song/artist listing */
.artist-box {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  margin-top: 13px;
}

/* Styling for each artist/song */
.artist-title {
  font-size: 2.9rem;
  display: inline-block;
  color: black;
}

.artist-name {
  font-size: 1.9rem;
  display: inline-block;
  color: grey;
}

/* ---------------------- Song page body ---------------------- */

/* Container for title and artist name */
.song-artist-box {
  line-height: 3rem;
}

/* Song title label */
.song-title-label {
  font-size: 2rem;
  color: rgb(128, 128, 128);
}

/* Song title name*/
.song-title {
  font-size: 2.8rem;
  color: black;
  line-height: 1rem;
}

/* Song artist label */
.song-artist-label {
  font-size: 2rem;
  color: rgb(128, 128, 128);
}

/* Song artist name*/
.song-artist {
  font-size: 2.4rem;
  color: black;
  line-height: 1rem;
}

/* Container for song */
.song-box {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

/* Song information box */
.song-info-box {
  display: flex;
  flex-direction: space-between;
  align-content: center;
  line-height: 1rem;
  padding-top: 1rem;
}

/* Other song labels */
.song-info-labels {
  color: rgb(128, 128, 128);
  background: transparent;
}

/* Othe song information */
.song-info {
  color: black;
  font-size: 2rem;
  padding-left: 1rem;
  padding-right: 2rem;
  background: transparent;
}

.song-chords-box {
  max-width: 400px;
  width: 100%;
}

.song-chords {
  font-size: 1rem;
  color: black;
  background: transparent;
}

.song-lyrics-box {
  width: 100%;
  height: auto;
  margin: 0;
}

/* Lyrics */
.song-lyrics {
  color: black;
  font-size: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  background: transparent;
}

/* ------------------ Create and Update form pages ------------------ */

/* Form title <h1> */
.form-header {
  font-weight: bold;
  color: rgba(41, 41, 41, 0.842);
  line-height: 3rem;
}

/* Form text <p> */
.form-text {
  color: rgba(41, 41, 41, 0.842);
  padding-top: 1rem;
}

/* Form input box */
.input-box {
  margin: 0 auto;
}

/* Form input labels */
.input-labels {
  color: rgba(41, 41, 41, 0.842);
}

/* Form inpupt fields */
.input {
  width: 100%;
  border: 1px solid rgba(41, 41, 41, 0.842);
  margin-bottom: 1rem;
}

/* Form chords box */
.chords-box {
  width: 100%;
}

/* Form chords */
.chords {
  width: 100%;
}

/* Form lyrics box */
.lyrics-box {
  width: 100%;
  height: auto;
  margin: 0;
}

/* Form lyrics */
.lyrics {
  width: 100%;
  height: 600px;
}

/* -------------------- media queries 320 -------------------- */

/* //////////////// Sign up and login //////////////// */

/* Screen sizes 320 and up (iphone5/SE size) */
@media screen and (min-width: 320px) {

   /* hero_box */
   .hero_box {
    height: 100vh;
  }

    /* Sign up and login fields */
  .fields {
    padding-top: 1rem;
    padding-right: 3rem;
  }

  /* //////////////// Header //////////////// */

  /* Banner text */
  .banner-text {
    font-size: 1.2rem;
  }

  /* Songbirdie logo on members */
  #SBgif {
    top: -1rem;
    right: 2rem;
    width: 90px;
    height: 90px;
  }

  /* Button */
  .buttons {
    margin-top: -10rem;
  }

  /* //////////////// Modal //////////////// */
  .song-search {
    font-size: 3rem;
  }

}

/* -------------------- media queries 375 -------------------- */

/* Screen sizes 375 and up (iphone5/SE size) */
@media screen and (min-width: 375px) {

  /* //////////////// Sign up and login //////////////// */

  /* hero_box */
  .hero_box {
    height: 80%;
  }

  /* Sign up and login fields */
  .fields {
    padding-top: 2rem;
    padding-right: 7rem;
  }

  /* //////////////// Header //////////////// */

  /* Banner text */
  .banner-text {
    font-size: 1.3rem;
  }

   /* Songbirdie logo on members */
   #SBgif {
    top: -1rem;
    right: 2rem;
    width: 100px;
    height: 100px;
  }


  /* Button */
  .buttons {
    width: 100px;
    margin-right: 0rem;
    margin-top: -10rem;
  }

}

/* -------------------- media queries 411 -------------------- */

/* //////////////// Sign up and login //////////////// */

/* Screen sizes 411 and up (pixel 2XL size) */
@media screen and (min-width: 411px) {

  /* hero_box */
  .hero_box {
    height: 90vh;
    margin-top: 0rem;
  }

    /* Sign up and login fields */
  .fields {
    padding-top: 5rem;
    padding-right: 7rem;
  }

  /* //////////////// Header //////////////// */

   /* Songbirdie logo on members */
   #SBgif {
    top: -1rem;
    right: 2rem;
    width: 110px;
    height: 110px;
  }


  /* Button */
  .buttons {
    width: 110px;
    margin-right: 0rem;
    margin-top: -8rem;
  }

}

/* -------------------- media queries 768 -------------------- */

/* Screen sizes 768 and up (iPad size) */
@media screen and (min-width: 768px) {

  /* //////////////// Sign up and login //////////////// */
  
  /* hero_box */
  .hero_box {
    height: 100vh;
  }

  /* Input fields */
  .fields {
    padding-top: 10rem;
  }

  /* Input fields */
  .input-size {
    width: 300px;
  }

  /* //////////////// Header //////////////// */

  /* Members header box */
  .members-header {
    height: 18vh;
  }

  /* Banner text */
  .banner-text {
    font-size: 2.5rem;
  }

  /* Songbirdie logo on members */
  #SBgif {
    top: -1rem;
    right: 6rem;
    width: 180px;
    height: 180px;
  }

  /* Button */
  .buttons {
    width: 180px;
    margin-right: 4rem;
    margin-top: -2rem;
  } 

  /* //////////////// Modal //////////////// */

  /* Modal button */
  .modal-tab {
    font-size: 2rem;
    margin-left: 2rem;
  }

   /* //////////////// Member's page //////////////// */

   .members-main {
    font-size: 4rem;
  }

  /* title for members page <h1> */
  .member-title {
    font-size: 5rem;
    margin-top: 10rem;
  }

  .artist-title {
    font-size: 3.9rem;
  }

  .artist-name {
    font-size: 2.9rem;
  }

  /* //////////////// Song page //////////////// */

  /* Song page title and artist box */
  .song-artist-box {
    max-width: 80vw;
    width: 80%;
    margin: 0 3rem;
  }
  
  /* Container for song information */
  .song-info-box {
    max-width: 80vw;
    width: 80%;
    margin: 0 3rem;
  }

  /* Other song information */
  .song-info {
    padding-right: 6rem;
  }

  /* Chords box */
  .song-chords-box {
    max-width: 1024px;
    width: 80%;
    display: block;
    margin: 0 3rem;
  }

  /* Lyrics */
  .song-lyrics {
    width: 80%;
  }

  /* //////////////// Create and Update song page //////////////// */

  /* form song title header <h1> */
  .form-header {
    font-weight: bold;
    color: rgba(41, 41, 41, 0.842);
    line-height: 4rem;
    margin-left: 7.5rem;
    font-size: 5rem;
  }

  /* Form song text <p> */
  .form-text {
    color: rgba(41, 41, 41, 0.842);
    padding-top: 1rem;
    margin-left: 7.5rem !important;
  }

  /* Form song inputs box */
  .input-box {
    max-width: 1024px;
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
  }

  /* Form song input labels */
  .input-labels {
    margin-left: 7.5rem;
  }

  /* Form song inpupt fields */
  .input {
    max-width: 1024px;
    width: 80%;
    margin-left: 7.5rem;
  }

  /* Chords box */
  .chords-box {
    max-width: 1024px;
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  /* Create song chords */
  .chords {
    color: black;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem;
  }

  /* lyrics box */
  .lyrics-box {
    max-width: 1024px;
    width: 80%;
    margin: 0 auto;
  }

  /* Create song lyrics */
  .lyrics {
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
  }

}

/* Screen sizes 1024 and up (iPad pro/desktop size) */
@media screen and (min-width: 1024px) {

  /* //////////////// Sign up and login //////////////// */

  /* hero_box */
  .hero_box {
    margin: 0 auto;
  }

 /* Input fields */
 .fields {
    padding-top: 20rem;
  }

  /* Input fields */
  .input-size {
    width: 400px;
  }

  /* //////////////// Header //////////////// */

  /* Banner text member's name */
  .banner-text {
    font-size: 3rem;
  }

  /* Songbirdie logo on members */
  #SBgif {
    top: -1rem;
    right: 5rem;
    width: 200px;
    height: 200px;
  }
  
  /* Button */
  .buttons {
    width: 200px;
    margin-right: 3rem;
    margin-top: 0rem;
  }

  /* //////////////// Modal //////////////// */

   .modal-style {
    width: 80%;
  }

  /* //////////////// Song page //////////////// */

  /* Song chords box */
  .song-chords-box {
    max-width: 1024px;
    width: 83%;
    display: block;
    margin: 4rem 3rem;
  }

  /* //////////////// Create and Update song page //////////////// */

  /* Input box */
  .input-box {
    left: 2.5%;
  }

  /* Chords box */
  .chords-box {
    max-width: 1024px;
    width: 80%;
    display: block;
  }

  /* Chords */
  .chords {
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
  }

  /* Lyrics box */
  .lyrics-box {
    max-width: 1024px;
    width: 80%;
  }

  /* Lyrics */
  .lyrics {
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
  }

}