<!-- Members header -->
<header class="members-header">
  <div class="members-banner">
    <div class="banner-text-box">
      <p class="banner-text">Welcome</br><span class="member-name"></span></p>
    </div>
    <img id="SBgif" src="../../images/SBWithJournal.gif">
  </div>
</header>