<!-- Members header -->
<header class="header-inner-box">
  <div class="header-banner">
    <div class="banner-text-box">
      <p class="banner-text">Welcome <span class="member-name"></span></p>
    </div>
    <img id="SBgif" src="../../images/SBWithJournal.gif">
  </div>
</header>