<!-- Modal box -->
<nav>

    <!-- Modal tab button -->
    <button id="delete-tab" class="modal-tab">Edit Song</button>

    <!-- The Modal -->
    <div id="delete-modal" class="modal modal-inner-box text-center">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="delete-close close modal-close">&times;</span>
            <div class="modal-view">
                <form class="form-inline">
                    <a href="/song/edit/{{dataValues.id}}">Edit Song</a>
                    <button data-id="{{dataValues.id}}" id="delete-btn" class="delete-song">Delete Song</button>
                </form>
            </div>
        </div>
    </div>
</nav>