<!-- Modal box -->
<nav>

    <!-- Modal tab button -->
    <button id="delUpdate-tab">Edit Page</button>

    <!-- The Modal -->
    <div id="delUpdate-modal" class="modal modal-style text-center">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="delclose tab-close">&times;</span>
            <div class="modal-view">
                <form class="form-inline">
                    <button value="{{dataValues.id}}" id="delSong">Delete Song</button>
                    <a href="/updateSong">Edit Song</a>
                </form>
            </div>
        </div>
    </div>
</nav>